.login-card {
  /* max-width: 400px; */
  margin: 40px;
}

.login-header {
  margin-bottom: 50px;
}

.login-content {
  margin-left: 16px;
}
.login-form {
  display: flex;
  flex-direction: column;
}

.login-title {
  font-weight: bold;
  font-size: 22px;
  color: #3f51b5;
  text-align: center;
}
