<div
  style="margin-left: auto; margin-right: auto; margin-top: 50px; width: 700px"
>
  <mat-form-field appearance="fill">
    <mat-label>グラフ種類</mat-label>
    <mat-select>
      <mat-option *ngFor="let puldwn of puldwns" [value]="puldwn.value">
        {{ puldwn.viewValue }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <ngx-charts-line-chart
    [view]="view"
    [scheme]="colorScheme"
    [legend]="legend"
    [legendTitle]="legendTitle"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [xAxis]="xAxis"
    [yAxis]="yAxis"
    [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabel"
    [results]="sampleData"
    (select)="onSelect($event)"
    (activate)="onActivate($event)"
    (deactivate)="onDeactivate($event)"
  >
  </ngx-charts-line-chart>
</div>
